#app {
    font-family: 'ShillingR', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
}

@font-face {
    font-family: 'ShillingR';
    src: url('./fonts/UnileverShilling.ttf');
}
@font-face {
    font-family: 'ShillingM';
    src: url('./fonts/UnileverShillingMedium.ttf');
}
@font-face {
    font-family: 'ShillingB';
    src: url('./fonts/UnileverShillingBold.ttf');
}

.u-navbar{
    background-color: #1F36C7;
    font-family: 'ShillingB';
}

.main-wrapper{
    background-color: #fefefe;
    overflow-x: hidden;
}

.vis-button{
    background-color: #FF544F;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-color: transparent;
    color: white;
    position:absolute;
    font-family: 'ShillingM';
    font-size: 20px;
    height:120px;
    width: 90px;
    margin-top: 50px;
    right: 0;
    line-height: 22px;
    padding-top: 10px;
}

.vis-window{
    background-color: yellow;
}

.main{
    height:90vh;
    text-align: center;
}

.suggested-group{
    width: 50%;
}

.suggested{
    background-color: #EDEDED;
    border-radius: 20px;
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    padding: 15px;
}
.suggested:hover {
    -webkit-filter: brightness(90%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}


.prompt-area{
    height: 10%;
    background-color: transparent;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
}

.prompt-bar{
    height:60%;
    background-color: #EDEDED;
    border-radius: 50px;
}

.form-select{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e") !important;
    background-color: #1F36C7 !important;
    border-top-left-radius: 50px !important;
    border-bottom-left-radius: 50px !important;
    text-align-last: center;
}

.form-control{
    margin-left: -3px;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-top-right-radius: 50px !important;
    border-bottom-right-radius: 50px !important;
}

.custom-dropdown{
    min-width: 15%;
}

.custom-promptbox{
    position: relative;
    width: 85%;
}

.btn-circle.btn-sm {
    width: 32px;
    height: 32px;
    padding: 6px 0px;
    border-radius: 20px;
    font-size: 8px;
    text-align: center;
    top:2.5px;
    bottom:3px;
    right: 10px;
    position: absolute;
}

/* ROUTE TRANSITIONS */
.route-enter-from{
    opacity: 0;
    transform: translateY(50px);
  }

  .route-enter-active{
    transition: all 0.3s ease-out;
  }

  .route-leave-to{
    opacity: 0;
    transform: translateY(-50px);
  }

  .route-leave-active{
    transition: all 0.3s ease-in;
  }

  #answer-chart{
    padding: 50px;
  }
  
  .area-containers{
    border-radius: 10px;
  }
  
  .question-area{
    background-color:aliceblue;
    margin-top: 20px;
    font-size: 16px;
    padding-top: 40px;
    padding-left: 40px;
    padding-bottom: 40px;
    padding-right: 50px;
  }
  
  .refined-btn{
    font-size: 13px;
  }
  
  .refined-q{
    font-size: 13px;
    font-style: italic;
  }
  
  .answer-area{
    margin-top:10px;
    background-color: #F5F5F5;
  }
  
  .source{
    background-color: #e4e4e4;
    padding: 10px;
    border-radius: 10px;
    margin-right: 10px;
    margin-top: 5px;
    display: inline-block;
    font-size: 14px;
    color: #0070E0;
    text-decoration: underline;
    font-family: 'ShillingM';
  }
  
  .source-icon{
    margin-top: -5px;
    margin-right: 2px;
    color: black;
  }
  
  .inline-source{
    color:#0070E0;
  }
  
  .btn-source{
    font-size: 12px;
    font-style: oblique;
    text-decoration: underline;
  }
  
  .related-header{
    font-family: 'ShillingM';
    margin-left: 15px;
    font-size: 20px;
  }
  
  .related-q{
    background-color: #9bdffd;
    border-radius: 20px;
    padding: 12px;
    padding-left: 18px;
    margin-top: 12px;
    margin-left: 60px;
    width: 75%;
    text-align: left !important;
  }
  .related-q:hover{
    background-color: #c4e9f8;
  }