#app {
    font-family: 'ShillingR', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
}

@font-face {
    font-family: 'ShillingR';
    src: url('./fonts/UnileverShilling.ttf');
}
@font-face {
    font-family: 'ShillingM';
    src: url('./fonts/UnileverShillingMedium.ttf');
}
@font-face {
    font-family: 'ShillingB';
    src: url('./fonts/UnileverShillingBold.ttf');
}

.u-navbar{
    background-color: #1F36C7;
    font-family: 'ShillingB';
}

.main-wrapper{
    height: 100vh;
}

.vis-button{
    background-color: #FF544F;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-color: transparent;
    color: white;
    font-family: 'ShillingM';
    font-size: 20px;
    position:absolute;
    height:120px;
    width: 90px;
    margin-top: 50px;
    right: 0;
    line-height: 22px;
    padding-top: 10px;
}


.vis-window{
    background-color: yellow;
}

.main{
    height:90vh;
    text-align: center;
}

.suggested-group{
    width: 50%;
}

.suggested{
    background-color: #EDEDED;
    border-radius: 20px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

.prompt-area{
    height: 10%;
    background-color: transparent;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
}

.prompt-bar{
    height:60%;
    background-color: #EDEDED;
    border-radius: 50px;
}

.form-select{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e") !important;
    background-color: #1F36C7 !important;
    border-top-left-radius: 50px !important;
    border-bottom-left-radius: 50px !important;
    text-align-last: center;
}

.form-control{
    margin-left: -3px;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-top-right-radius: 50px !important;
    border-bottom-right-radius: 50px !important;
}

.custom-dropdown{
    min-width: 15%;
}

.custom-promptbox{
    position: relative;
    width: 85%;
}

.btn-circle.btn-sm {
    width: 32px;
    height: 32px;
    padding: 6px 0px;
    border-radius: 20px;
    font-size: 8px;
    text-align: center;
    top:2.5px;
    bottom:3px;
    right: 10px;
    position: absolute;
}

